body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #e6f4ea, #c8f7d1);
    color: #1b4332;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #1b4332;
    color: white;
}

.nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(to right, #d8f3dc, #b7e4c7);
}

/* CARDS */
.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    border-left: 5px solid #2d6a4f;
}
